@import "resolutions";
@import "colors";

$media: 768px;
$large: 1024px;
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#barra{
  height: 50px;
  padding: 14px;
  color: white;
  position: relative;
  background-color: $background-laboratoria;
}
#menu-left{
  padding: 0;
  margin: 0;
  position: relative;
  list-style: none;
  li{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;;
    margin-right: 10px;
    color: white;
    background-color: $backgroung-plomo;
    padding: 5px;
  }
  #ejercicio{
    background-color: $background-laboratoria;
  }
}
#contenido , #descripcion{
  position: relative;
  padding: 10px;
}

.aside{
  text-align: center;
  color: white;
  background-color: $backgroung-plomo;
}
footer{
  background-color: $backgroung-plomo;
  height: 30px;
  padding: 25px;
  color: white;
  text-align: center;
}
ol{
  list-style-type: decimal-leading-zero;
  padding-left: 2em;
}
#contenido h1{
  margin-top: 30px;
  margin-bottom: 15px;
  @media (min-width: $media){
    margin-top: 0;
  }
}
h4{
  margin-top: 20px;
}

@media (min-width: $media){

  #menu{
    float: left;
    display: inline-block;
    width: grid-width(3%);
  }
  #contenido{
    display: inline-block;
    width: grid-width(8%);
  }
}

@media (min-width: $large){
  #contenido{
    display: inline-block;
    width: grid-width(5.5%);
    float: left;
  }
  #descripcion{
    display: inline-block;
    width: grid-width(3%);

  }
}
